.Rproj.user
.Rhistory
.RData
.Ruserdata
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/node_modules
**/exports
**/bak
**/*.swp
**/.cd.swp
**/build
**/__pycache__
**/.vscode
**/dist
**/.ipynb_checkpoints
**/static
*.mat
*.log
**/access_log*
**/test_log
**/bak_log
**/bak_ver
**/ssr-build/
**/ver_bak
**/coverage
**/temp
**/tmp
**/tmp.*
**/*.grib
**/*.save
**/*.bak
**/*~
**/.DS_Store
**/.credentials.*
**/.eslintrc.*
**/*.pem
**/*.key
**/*.cert
**/.env
**/.cache
**/.*.login.*
**/.setting.*
**/size-plugin.json
**/.testenv.js
**/.ssologin.js
**/src/template.html
**/.yarnrc
**/GEBCO*.nc
**/GEBCO*.zarr
**/test*.csv
