[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "==69.0.3"
polars-lts-cpu = "==0.20.3"
distributed = "==2025.3.0"
geopy = "==2.4.1"
gunicorn = "==23.0.0"
numpy = "==1.26.4"
orjson = "==3.10.16"
polars = "==1.26.0"
pyarrow = "==19.0.1"
pygeos = "==0.14"
requests = "==2.32.3"
shapely = "==2.0.7"
uvicorn = "==0.34.0"
xarray = "==2025.3.1"
zarr = "==2.18.6"
python-dotenv = "==1.1.0"
dask = {extras = ["complete"], version = "==2025.3.0"}
fastapi = {extras = ["standard"], version = "==0.115.12"}
numcodecs = "==0.15.1"

[dev-packages]

[requires]
python_version = "3.11"
